{% extends 'store/Main.html' %}
{% load static %}

{% block content %}
   <div class="card text-center">
     <div class="card-header">
       <table class="table">
          <tr>
             <th class="text-left">
                <a  class="btn btn-outline-dark" href="{% url 'store:list' %}">&#x2190; Back to Homepage</a>
             </th>
         </tr>
         <tr>
             <th>
                <h1>Details</h1>
             </th>
          </tr>
       </table>
     </div>
     <div class="card-body">
       <img src="{{item.imageURL}}" alt="Card image cap" class="thumbnail2">
       <h3 class="card-title">{{ item.name }}</h3>
       <br><br>
       <p class="card-text">{{ item.details }}</p>
       <h4 ><strong>{{ item.price }} $</strong></h4>
       <br>
       <a href="#" class="btn-lg btn-secondary">Add to Cart</a>
     </div>
     <div class="card-footer">

     </div>
   </div>

{% endblock content %}
